<div class="container">
  <div class="sub-container">
    <div></div>
    <div class="center">

      <img src="/assets/logo.png"> <br> <br>
      <h1>Log In</h1>

      <%= form_for(:session, url: login_path) do |f| %>

      <p><%= f.email_field :email, placeholder: "Email Address" %></p>

      <p><%= f.password_field :password,  placeholder: "Password" %></p>

      <p><%= f.submit "Enter", :class => "btn-primary" %></p>

      <% end %>
    </div>
    <div></div>
  </div>

</div>
