<body id="course">
<h1><%=@course.name%></h1>

<p>Course Name: &nbsp <%=@course.name%></p>
<p>Class Hours: &nbsp <%=@course.class_hours%></p>

<br>
<!-- <%= link_to 'Edit',  edit_admin_course_path %> -->
</body>
