.animate-up{
  position: relative;
  animation-name: animateup;
  animation-duration: 1s;
}

.animate-down{
  position: relative;
  animation-name: animatedown;
  animation-duration: 1s;
}

@keyframes animateup {
  from {
    top:-300px;
    opacity:1
  }
  to {
    top:0;
    opacity:1
  }
}

@keyframes animatedown {
  from {
    top:300px;
    opacity:1
  }
  to {
    top:0;
    opacity:1
  }
}

/**fade in  / fade out
** blur maybe? **/
