/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 */

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");

body {
  margin: 0;
  bottom: 0;
  font-family: 'Noto Sans TC', sans-serif;
  color: #000000;
  background-color: #fffbfd;
}
#account-bg{
  background-color: #fdd5ac;
  background: url("https://data.whicdn.com/images/277450321/original.gif") no-repeat 50% 50% fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  /* padding-top: 1%; */
  left: 0;
  background-color: rgb(255,110,167);
  overflow-x: hidden;
}

.sidenav ul {
  padding-left: 0px;
}

.sidenav ul li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sidenav a {
  padding: 15px 8px 15px 30px;
  font-size: 1.2em;
  color: #ffffff;
  display: block;
}

.sidenav ul li a:hover {
  color: #ffffff;
  background-color: rgb(221,56,121);
}


.sidenav img {
  padding-top: 15%;
  width: 100%;
}

.center {
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}

.main {
  margin-left: 15%;
  padding: 1.5% 2%;
}

.container {
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 0;
}

.sub-container {
  width: 100%;
  display: inline-grid;
  position: fixed;
  grid-template: 100% / 70%;
  justify-content: left;
  padding-top: 10%;
}

.account-grid {
  width: 100%;
  display: grid;
  /* grid-template: 500px / 45% 45%; */
  grid-template: 500px / 500px;
}

.account-grid div:nth-child(1) {
  padding: 7%;
  color: white;
  background-color: #ff6ea7;
  border-top: 2px solid #ff6ea7;
  border-left: 2px solid #ff6ea7;
  border-bottom: 2px solid #ff6ea7;
  border-radius: 20px;
  /* border-bottom-left-radius: 20px; */
}

/* .account-grid div:nth-child(2) {
  padding: 7%;
  color: #ff6ea7;
  background-color: #ffecf6;
  border-top: 2px solid #ff6ea7;
  border-right: 2px solid #ff6ea7;
  border-bottom: 2px solid #ff6ea7;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
} */

.dashboard {
  width: 100%;
  display: inline-grid;
  position: absolute;
  grid-template: repeat(2, 250px) / repeat(2, 30%);
  grid-gap: 10%;
  justify-content: center;
}

.card {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.card-grid {
  width: 100%;
  height: 100%;
  display: inline-grid;
  position: relative;
  grid-template: 80% 20% / 100%;
  justify-content: center;
}

.card-top {
  width: 100%;
  height: 100%;
  display: inline-grid;
  position: relative;
  grid-template: 100% / repeat(2, 50%);
  background-color: #fffbfd;
}

.card-top img {
  height: 100%;
  padding: 5%;
  /* border-radius: 50%; */
  position: relative;
}

.card-top a {
  margin-top: 10%;
  margin-bottom: 10%;
}

.card-bottom {
  width: 100%;
  height: 100%;
  display: inline-grid;
  position: relative;
  grid-template: 100% / repeat(2, 50%);
  background-color: #ffffff;
}

.card-bottom a {
  color: #f16f9d;
}

.card-bottom a:hover {
  color: #ffa539;
}

.card-bottom div:nth-child(1){
  border-right: 2px solid #cecece;
}

.profile {
  padding: 5%;
  padding-left: 33%;
}

.profile-card {
  display: grid;
  grid-template: 300px 280px / 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  position: absolute;
  border-radius: 25px;
  background-image: linear-gradient(0deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
  background-size: 100% 52%;
  background-repeat: no-repeat;
  padding: 2%;
}

.profile-img {
  width: 300px;
  height: 270px;
  border-radius: 50%;
}

.table-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.default {
  display: block;
  width: 300px;
  height: 270px;
  border-radius: 50%;
  background-image: url("/assets/profile.jpg"), linear-gradient(rgba(10,10,10,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
  line-height: 2.3em;
  font-size: 7em;
}

.icons img {
  width: 70px;
  height: 70px;
}

.cohort {
  /* padding: 5%; */
  padding-left: 30%;
}

.cohort-card {
  display: grid;
  grid-template: 100% / 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  position: absolute;
  border-radius: 25px;
  background-image: linear-gradient(0deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
  background-size: 100% 37%;
  background-repeat: no-repeat;
  padding-top: 1%;
  padding-right: 3%;
  padding-left: 3%;
}

.cohort-card div:nth-child(2) {
  padding-left: 15%;
}

.cohort-img {
  width: 300px;
  height: 270px;
  border-radius: 50%;
}

.cohort-default {
  display: block;
  width: 300px;
  height: 270px;
  border-radius: 50%;
  background-image: url("/assets/default.jpg"), linear-gradient(rgba(10,10,10,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
  line-height: 2.3em;
  font-size: 7em;
}


/************* Forms *************/
input[type=text], input[type=email], input[type=password], input[type=date], input[type=number] {
  width: 100%;
  background-color: #ffffff;
  font-size: .87em;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  background-color: #ffffff;
  font-size: 1em;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
}

.forms {
  padding-left: 30%;
}

.forms-grid {
  display: grid;
  grid-template: 100% / 400px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  position: absolute;
  border-radius: 25px;
  background-image: linear-gradient(0deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
  background-repeat: no-repeat;
  padding: 2%;
}

/*************Flash Alerts *************/
.alert {
  color: white;
  font-size: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.alert-success {
  background-color: #f16f9d;
}

.alert-notice {
  background-color: #e42568;
}

.alert-error {
  background-color: rgb(235,70,45);
}

.animate-up{
  position: relative;
  animation-name: animateup;
  animation-duration: 1s;
}

.animate-down{
  position: relative;
  animation-name: animatedown;
  animation-duration: 1s;
}

@keyframes animateup {
  from {
    top:-300px;
    opacity:1
  }
  to {
    top:0;
    opacity:1
  }
}

@keyframes animatedown {
  from {
    top:300px;
    opacity:1
  }
  to {
    top:0;
    opacity:1
  }
}

.fadein {
  position: relative;
  animation-name: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.fadeout {
  position: relative;
  animation-name: fadeout;
  animation-duration: 1s;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding: 10px 10px;
  font-size: 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.4s
}

.btn-primary {
  border: 2px solid #f16f9d;
  color: #f16f9d;
}

.btn-primary::after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  transition: all 0.4s;
}

.btn-primary:hover {
  color:#f16f9d;
}

.btn-primary:hover::after {
  border: 2px solid #f16f9d;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.btn-secondary {
  border: 2px solid #ffa539;
  color: #ffa539;
}

.btn-secondary::after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  transition: all 0.4s;
}

.btn-secondary:hover {
  color:#ffa539;
}

.btn-secondary:hover::after {
  border: 2px solid #ffa539;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.btn-account {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  border: 2px solid #f16f9d;
  color: #f16f9d;
  font-size: 1.1em;
  text-decoration: none;
  transition: color 0.4s
}

.btn-account:hover {
  color: #ffffff;
  background-color: #f16f9d;
}

.btn-login {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  border: 2px solid #ffecf6;
  color: #ffecf6;
  font-size: 1.1em;
  text-decoration: none;
  transition: color 0.4s
}

.btn-login:hover {
  color: #f16f9d;
  background-color: #ffecf6;
}
