/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');


body {
  bottom: 0;
  background-color: #f1f1f1;
  /* background-color: #a28dc0; */
  /* background: url("https://www.desktopbackground.org/download/1024x768/2013/10/10/652057_themes-ive-used-sailor-moon-inspired-backgrounds-part-2-part-1_1280x960_h.jpg") no-repeat 50% 50% fixed; */
  background-size: cover;
  /* background-blend-mode: overlay; */
  font-family: 'Noto Sans TC', sans-serif;
  color: #000000;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  /* padding-top: 1%; */
  left: 0;
  background-color: rgba(8,80,155, 1);
  overflow-x: hidden;
}

.sidenav ul {
  padding-left: 0px;
}

.sidenav ul li {
  list-style-type: none;
  /* padding-left: 0; */
  margin: 0;
}

.sidenav a {
  padding: 15px 8px 15px 30px;
  text-decoration: none;
  font-size: 1.2em;
  color: #ffffff;
  display: block;
}

.sidenav ul li a:hover {
  color: #ffffff;
  background-color: rgb(10,71,133);
}


.sidenav img {
  padding-top: 15%;
  width: 100%;
}
/*
@media screen and (max-width: 650px) {
  .sidenav {
    padding-top: .5%;
  }
  .sidenav a {
    font-size: .95em;
  }
} */

.center {
  justify-content: center;
  text-align: center;
}

.main {
  margin-left: 15%;
  padding: 0px 10px;
}

.container {
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 0;
}

.sub-container {
  width: 100%;
  display: inline-grid;
  position: fixed;
  grid-template: 100% / 3% 60% 37%;
  grid-gap: 1%;
  padding-top: 10%;
}

.sub-container div:nth-child(2) {
  margin-right: 15%;
  margin-left: 15%;
  border: 4px solid #f16f9d;
  padding: 5%;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 25px;

}

.sub-container div:nth-child(2) img {
  width: 50%;
}

.dashboard {
  width: 100%;
  display: inline-grid;
  position: absolute;
  grid-template: 300px 300px / repeat(2, 35%);
  grid-gap: 5%;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
  padding: 16px;
  background-color: #ffdf50;
  border-radius: 3%;
}

.card:hover {
  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.4);
}

.card img {
  height: 100px;
}

.btn-primary {
  display:inline-block;
  position:relative;
  padding:10px 25px;
  border:2px solid #f16f9d;
  color:#f16f9d;
  font-size:1.1em;
  text-decoration:none;
  transition: color 0.4s
}

.btn-primary::after {
  content:" ";
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  transition:all 0.4s;
}

.btn-primary:hover {
  color:#f16f9d;
}

.btn-primary:hover::after {
  border:2px solid #f16f9d;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

/*************Flash Alerts *************/

.alert-success {
  background-color: rgba(8,80,155, .6);
  color: white;
}

.alert-error {
  background-color: rgba(255,0,0, .6);
  color: white;
}
