// Place all the styles related to the Cohorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cohort-page-title h1{
  /* border-bottom: 1px dashed #d6a3dc; */
  font-size: 3em;
  color: #e42568;
}

.cohort-table {
  padding-left: 10%;
  width: 80%;
}
.cohort-table-header {
  width: 100%;
  display: inline-grid;
  grid-template: 50px / 10% 13% 18% 15% 13% 13% 5% 5% 5%;
  text-transform: uppercase;
  border-bottom-color: #d6a3dc;
  border-bottom-style: double;
  line-height: 3em;
}

.cohort-row {
  width: 100%;
  display: inline-grid;
  grid-template: 50px / 10% 13% 18% 15% 13% 13% 5% 5% 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  line-height: 3em;
  border-bottom: 1px dashed #d6a3dc;
}


.cohort-table-img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 70%;
  background-image: url("/assets/default.jpg"), linear-gradient(rgba(10,10,10,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-size: cover;
  text-align: center;
  font-size: 2em;
  color: white;
}

.cohort-table-icon img {
  width: 55px;
  height: 55px;
}
